@keyframes slideright {
        from {margin-right: 100%}
        to {margin-right: 0%}
    }
    .aboutpage {
        animation-name: slideright;
        animation-duration: 1s;
        padding: 15px;
    }
    
    img {
        width: 30%;
        border: 5px solid rgb(240, 77, 191);
    }