@keyframes slideright {
        from {margin-right: 100%}
        to {margin-right: 0%}
    }
    .aboutpage {
        background-image: radial-gradient(
            farthest-side at bottom right,         
            mediumaquamarine, 
            paleturquoise,
            plum);
        animation-name: slideright;
        animation-duration: 1s;
        padding: 70px 0 70px 20px;
    }
    
    img {
        width: 30%;
        border: 5px solid rgb(240, 77, 191);
    }