@keyframes slideright {
        from {margin-right: 100%}
        to {margin-right: 0%}
    }
    .contactpage {
        animation-name: slideright;
        animation-duration: 1s;
        padding: 15px;
    }