nav {
    background-color: rgb(231, 227, 227);
}
.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    align-items: center;
    z-index: 2;
}

/* sliding transition */
@keyframes slideleft {
    from {transform: translateY(-100%)}
    to {transform: translateY(0%)}
}

@keyframes linkappearance {
    from {opacity: 0}
    to {opacity: 1}
}

/* absolute position */
.links {
    position: absolute;
    background-color: rgb(231, 227, 227);
    text-align: center;
    width: 100%;
    user-select: none; 
    font-size: 0.9rem;
    font-family: monospace;
    padding: 20px 0 20px 0;
    animation-name: slideleft;
    animation-duration: 0.5s;
    z-index: 1;
}

.link {
    text-decoration: none;
    margin: 10px;
    user-select: none;
    position: relative;
}

.dorji-tshering {
    text-decoration: none;
    user-select: none;
    color: rgb(196, 193, 193);
}

.dorji {
    color: red;
}

.tshering {
    color: blue;
}

.dorji-tshering:hover {
    font-weight: bold;
}

/* navigation links */
.home {
    color: teal;
    animation-name: linkappearance;
    animation-duration: 2s;
}
.home:hover {font-weight: bolder;}

.projects {
    color: fuchsia;
    animation-name: linkappearance;
    animation-duration: 3s;
}
.projects:hover {font-weight: bolder}

.about {
    color: rgb(80, 29, 221);
    animation-name: linkappearance;
    animation-duration: 4s;
}
.about:hover {font-weight: bolder}

.skills {
    color: tomato;
    animation-name: linkappearance;
    animation-duration: 5s;
}
.skills:hover {font-weight: bolder}

.contact {
    color: brown;
    animation-name: linkappearance;
    animation-duration: 6s;
}
.contact:hover {font-weight: bolder}

/* navigation link icons */
.link-icon {
    display: inline-block;
    position: relative;
}

/* active link styles*/
.active {
    font-weight: bolder;
    border-bottom: 2px solid black;
}




/* dropdown menu */
.main-menu {
    cursor: pointer;
}

@keyframes rotation {
    from{ 
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
    }
}

.close-icon {
    color: rgb(95, 6, 6);
    animation: rotation;
    animation-duration: 1s;
}



        