.navbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    align-items: center;
    z-index: 2;
    background-color: black;
}

/* sliding transition */
@keyframes slidedown {
    from {transform: translateY(-100%)}
    to {transform: translateY(0%)}
}

@keyframes linkappearance {
    from {opacity: 0}
    to {opacity: 1}
}

/* absolute position */
.links {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    background-color: black;
    text-align: center;
    user-select: none; 
    font-size: 0.9rem;
    font-family: monospace;
    animation-name: slidedown;
    animation-duration: 0.5s;
    z-index: 1;
}

.link {
    text-decoration: none;
    margin: 10px;
    user-select: none;
    position: relative;
    font-size: 1.2rem;
    color: white;
}

.dorji-tshering {
    text-align: center;
    flex: 1;
    text-decoration: none;
    user-select: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
}

.dorji-tshering:hover {
    font-weight: bold;
}

/* navigation links */
.home {
    animation-name: linkappearance;
    animation-duration: 2s;
}
.home:hover {font-weight: bolder;}

.projects {
    animation-name: linkappearance;
    animation-duration: 3s;
}
.projects:hover {font-weight: bolder}

.about {
    animation-name: linkappearance;
    animation-duration: 4s;
}
.about:hover {font-weight: bolder}

.skills {
    animation-name: linkappearance;
    animation-duration: 5s;
}
.skills:hover {font-weight: bolder}

.contact {
    animation-name: linkappearance;
    animation-duration: 6s;
}
.contact:hover {font-weight: bolder}

.resume {
    animation-name: linkappearance;
    animation-duration: 7s;
}

.resume:hover {
    font-weight: bolder;
}

/* navigation link icons */
.link-icon {
    display: inline-block;
    position: relative;
}

/* active link styles*/
.active {
    font-weight: bolder;
    text-decoration: underline;
    text-decoration-color:rgb(196, 193, 193);
}




/* dropdown menu */
.menu-icon {
    cursor: pointer;
    color: white;
    width: 2rem;
    height: 2rem;
}



@keyframes rotation {
    from{ 
        transform: rotate(0deg);
    }
    to{
        transform: rotate(720deg);
    }
}

.close-icon {
    animation: rotation;
    animation-duration: 1s;
}
        