.homepage {
    padding: 15px;
}

.home-intro {
    font-size: 2rem;
    text-align: center;
}

.to-projects {
    display: block;
    width: max-content;
    text-decoration: none;
    color: white;
    background-color: rgb(248, 7, 107);
    border-radius: 30px;
    padding: 20px;
    margin: 20px auto 20px 0;
}

.to-about {
    display: block;
    width: max-content;
    color: white;
    background-color: rgb(248, 7, 107);
    text-decoration: none;
    border-radius: 30px;
    padding: 20px;
    margin: 20px auto 20px 0;
}